:root {
  --main-color: #ff0000;
}

nav{
  justify-self: auto;
  align-items: center;
}

nav a#logo-link {
  color: white;
  text-decoration: none;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
